HelloEndpointsProject/.idea/**
HelloEndpointsProject/.gradle/**
HelloEndpointsProject/local.properties
HelloEndpointsProject/HelloEndpoints/build/**
HelloEndpointsProject/HelloEndpoints/src/main/gen/**
*.iml
pom.xml
out/**
